h1{
    background-color: red;
    color: white;
}
h2{
    background-color:burlywood ;
    color: white;
}
img {
    width: 200px;
}
p{
    background: khaki;
    color: white;
}
li{
    background: lavender;
    color: white;
}

