.main{
    width:100%;
    height: 600px;
    background: silver;
    display: flex;
    flex-direction: column;

}
.block1{
    width: 100%;
    height: 200px;
    border: 1px solid white;
    box-sizing: border-box;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.block2{
    width: 70%;
    height: 400px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: gray;
}

.block2-1{
    width: 100%;
    height: 200px;
    border: 1px solid white;
    box-sizing: border-box;
    background:gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}


.block2-2{
    width: 100%;
    height: 200px;
    border: 1px solid white;
    box-sizing: border-box;
    background: gray;
    display: flex;
}
.square{
    width: 33.333%;
    height: 200px;
    background: gray;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;

}

.block3{
    width: 30%;
    height: 400px;
    box-sizing: border-box;
    border: 1px solid white;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.wrapper{
    display: flex;
}
@media screen and (min-width: 0) and (max-width: 600px){
    .wrapper{
      flex-direction: column;
    }
    .block2{
        width: 100%;
    }
    .block3{
        width: 100%;
        height: 200px;
    }
}